In [99]:
import glob
import re

In [100]:
categories = ['art' , 'economy' , 'foreign' , 'health' ,'interview' , 'opinion' , 'politics' ,
              'society' , 'sports' ,'technology' , 'world' ]

In [101]:
data = []


for i, filename in enumerate(categories):
    path = f'nagarik/{filename}/*.txt'
    files = glob.glob(path)
    for j , file in enumerate(files):
        with open(file  ,'r' , encoding='utf-8') as f:
            data.append((f.read() , filename))

In [103]:
punct = [
    ',',
    '.',
    '?',
    '\'',
    '\n',
    '\t',
    '}',
    '{',
    '|',
    '>',
    '<',
    '-',
    '_',
    '=',
    '+',
    '*',
    '$'
]

In [104]:
import pandas as pd

df = pd.DataFrame(data , columns=['Text' , 'Label'])

In [105]:
df.head()

                                                Text Label
0  मकवानपुर – फिल्म ‘हुर्रे’ले रिलिज मिति नजिकिएस...   art
1  काठमाडौं – मोक्षदा स्कुलको मञ्जरी थिएटरमा उड्क...   art
2  कठमाडौं – रसियाको नोभोसिबिर्सक सहरमा भइरहेको ‘...   art
3  मुम्बई – चर्चित अभिनेत्री रानी मुखर्जीले बलिउड...   art
4  मुम्बई – साउथ इण्डियनतर्फको मलयालम फिल्मको एकै...   art

In [106]:
df.shape

(4481, 2)

In [107]:
df.isnull().sum()

Text     0
Label    0
dtype: int64

In [108]:
df.Label.value_counts()

economy       510
opinion       507
foreign       498
society       494
politics      483
world         478
art           467
sports        413
technology    238
interview     201
health        192
Name: Label, dtype: int64

In [109]:
import spacy
from spacy.lang import ne
from spacy.lang.ne.stop_words import STOP_WORDS

In [110]:
stopwords = list(STOP_WORDS)

In [111]:
X = df['Text']
y = df['Label']

In [133]:
X.shape , y.shape

((4481,), (4481,))

In [241]:
import re
def change_into_tokens(text):
    
    tokens =[]
    text = re.sub('\s+' ,' ',text)
    text = re.sub("–" ,'',text)
    text = re.sub("।" ,'', text)
    text = re.sub('!' ,'', text)
    
    text = text.split(' ')
    
    for token in text:
        if token not in stopwords:
            tokens.append(token)
        
    return tokens

In [242]:
text = 'मकवानपुर – !?!फिल्म ‘?हुर्रे’!)!!'

In [243]:
change_into_tokens(X[0])

['मकवानपुर',
 '',
 'फिल्म',
 '‘हुर्रे’ले',
 'रिलिज',
 'मिति',
 'नजिकिएसँगै',
 'प्रचारप्रसारमा',
 'तीव्रता',
 '',
 'शनिबार',
 'हेटौंडा',
 'आइपुगेको',
 'फिल्मको',
 'निर्माता',
 'कलाकारको',
 'टोलीले',
 'फिल्म',
 'हास्यप्रधान',
 'रहे',
 'पृथक',
 'कथाबस्तुमा',
 'निर्माण',
 '',
 'फिल्मको',
 'प्रचारका',
 'देश',
 'दौडाहामा',
 'फिल्मको',
 'टोली',
 'पोखरा,',
 'बुटवल,',
 'चितवनपछि',
 'हेटौंडा',
 'आइपुगेको',
 'हेटौंडामा',
 'आयोजित',
 'अन्तरक्रियामा',
 'अभिनेता',
 'अनुपविक्रम',
 'शाहीले',
 'फिल्म',
 'मनोरञ्जक',
 'अभिनेत्री',
 'केकी',
 'अधिकारीले',
 'फिल्मभित्र',
 'मोहमा',
 'फसाएर',
 'राख्ने',
 'स्वर्गकी',
 'अप्सरा',
 '‘मेनका’को',
 'भूमिकामा',
 'बताइन्',
 '',
 'हास्य',
 'कलाकार',
 'राजाराम',
 'पौडेलले',
 'महिना',
 'सुटिङ',
 'आर्यघाटको',
 'धुँवाले',
 'कलाकारहरू',
 'बिरामी',
 'परेको',
 '',
 '‘फिल्म',
 'हेरेपछि',
 'हाँस्दाहाँस्दा',
 'भोक',
 'लाग्छ,',
 'रमाइलो',
 'भने,',
 '‘सबै',
 'फिल्ममा',
 'सन्देश',
 'राख्दा',
 'मजा',
 'हुँदैन,',
 'सन्देश',
 'खोज्ने',
 'पुराण',
 'सुने',
 'भैगो',
 'नि’',
 'यम',
 'थापाको',
 'लेखन',
 'निर्देशन',
 'फिल्ममा',
 'अनुपविक्रम',
 'शाही,',
 'केकी',
 'अधिकारी,',
 'बिजय',
 'बराल,',
 'अंकित',
 'खड्का,',
 'संगीता',
 'नापित',
 'लगायतको',
 'अभिनय',
 '',
 'फागुनको',
 '२५',
 'गतेबाट',
 'प्रदर्शित',
 'फिल्मलाई',
 'याखा',
 'इन्टरटेनमेन्टको',
 'ब्यानरमा',
 'दावा',
 'शेर्पा,',
 'सोनम',
 'लामा',
 'भ्लोन',
 'छिरिङ',
 'दोर्जे',
 'शेर्पाले',
 'निर्माण',
 '']

In [247]:
#use tfidfvectorizer

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [245]:
tfidf = TfidfVectorizer(tokenizer=change_into_tokens)

In [246]:
vectorizer = tfidf.fit_transform(X)

In [249]:
#now split the dataset

X_train , X_test , y_train ,y_test = train_test_split(vectorizer , y , test_size=0.2 , shuffle=True , random_state=42)

In [250]:
X_train.shape , X_test.shape

((3584, 164453), (897, 164453))

In [260]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB

clf = LogisticRegression(multi_class="multinomial")

In [261]:
clf.fit(X_train,y_train)

LogisticRegression(multi_class='multinomial')

In [262]:
y_pred=clf.predict(X_test)

In [272]:
from sklearn.metrics import accuracy_score , classification_report , confusion_matrix

In [273]:
print(accuracy_score(y_pred , y_test))

0.8149386845039019

In [277]:
classification_report(y_test , y_pred)

'              precision    recall  f1-score   support\n\n         art       0.90      0.89      0.89        98\n     economy       0.74      0.75      0.75        96\n     foreign       0.90      0.88      0.89       104\n      health       0.85      0.77      0.81        44\n   interview       0.95      0.56      0.71        32\n     opinion       0.78      0.88      0.83        95\n    politics       0.75      0.70      0.72        96\n     society       0.55      0.71      0.62        92\n      sports       0.96      0.96      0.96        91\n  technology       0.97      0.65      0.78        48\n       world       0.90      0.94      0.92       101\n\n    accuracy                           0.81       897\n   macro avg       0.84      0.79      0.81       897\nweighted avg       0.83      0.81      0.82       897\n'

In [278]:
confusion_matrix(y_test , y_pred)

array([[87,  1,  1,  1,  0,  3,  1,  3,  0,  1,  0],
       [ 0, 72,  1,  0,  1,  0,  2, 18,  1,  0,  1],
       [ 2,  3, 91,  0,  0,  1,  1,  2,  2,  0,  2],
       [ 0,  0,  0, 34,  0,  2,  3,  5,  0,  0,  0],
       [ 1,  0,  0,  0, 18, 10,  3,  0,  0,  0,  0],
       [ 1,  2,  0,  2,  0, 84,  2,  2,  1,  0,  1],
       [ 0,  8,  2,  0,  0,  3, 67, 16,  0,  0,  0],
       [ 4,  7,  3,  2,  0,  3,  8, 65,  0,  0,  0],
       [ 1,  0,  2,  0,  0,  0,  0,  1, 87,  0,  0],
       [ 0,  4,  1,  1,  0,  2,  0,  3,  0, 31,  6],
       [ 1,  0,  0,  0,  0,  0,  2,  3,  0,  0, 95]], dtype=int64)

In [280]:
#damn this worked well
#now lets test a data